{% extends 'basefile/base.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container mt-5 py-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
      <!-- password Reset form -->
       {% if validlink %}
      <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data" style="background-color: #00ad5f">
          <h1 style="text-align: center;"><span class="text-primary">Easy Way Process</span></h1>
          <span>
            {{username}} {{message}}
          </span>
          {% csrf_token %}  
          <!-- password Reset heading -->
          <h3 class="text-center">Set New Password</h3>
          <hr class="bg-white">

          <!-- Display error/success messages -->
          {% include "messages/messages.html" %}

          <!-- password Reset form -->
          <div class="form-group py-3">
            <label for="id_new_password">New Password</label>
            <input type="password" name="new_password1" class="form-control form-control-sm" id="id_new_password" placeholder="New Password" autocomplete="current-password" autofocus="" required>
        </div>
        <div class="form-group py-3">
            <label for="id_new_password2">Confirm Password</label>
            <input type="password" name="new_password2" class="form-control form-control-sm" id="id_new_password2" placeholder="New Password" autocomplete="current-password" autofocus="" required>
        </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-light">Set New Password</button>
          
          <div class="d-flex flex-column justify-content-center mt-2">
            <span class="psw">You have not change password! <a href="{% url 'profile' user.username %}" class="text-white">Go Profile.</a></span>
            <span class="psw">Forgot your password? <a href="{% url "password_reset" %}" class="text-white">Reset password.</a></span>
          </div>
      </form>
      {% else %}
      <p>The password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
      {% endif %}
    </div>
  </div>
  </div>
</main>
{% endblock content %}