{% extends 'basefile/base.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container mt-5 py-5">
        <!-- password Reset form -->
        <form class="col-6 mx-auto card p-3 pb-5 shadow-lg" method="post" enctype="multipart/form-data" style="background-color: #00ad5f">
            <h1 style="text-align: center;"><span class="text-white">Easy Way Process</span></h1>
 
            {% csrf_token %}  
            <!-- password Reset heading -->
            <h3 class="text-center">password Reset</h3>
            <hr class="bg-light">
 
            <!-- Display error/success messages -->
            {% include "messages/messages.html" %}
 
            <!-- E-mail input field -->
            <div class="form-group mb-4">
                <label for="exampleInputEmail1">E-mail</label>
                <input type="text" class="form-control form-control-sm" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter your email" required>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-light btn-sm">Reset Password</button>
            <!-- Link to registration page -->
            <p class="mt-2">Don't have an account reset? <a href="{% url 'profile' user.username %}" class="text-white">Go to profile</a>. </p>
        </form>
    </div>
</main>
{% endblock content %}