{% extends 'basefile/base.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container mt-5 py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>Password Change Successful</h2>
                <p></p>
                {% include "messages/messages.html" %}
                <p><a href="{% url 'profile' user.username %}">Go To Profile</a></p>
            </div>
        </div>
        
    </div>
</main>
{% endblock content %}