{% extends "basefile/base.html" %}

{% load static %}
{% block title %}
    Easy Way Process | Login
{% endblock title %}


{% block content %}
    <!--=========Login page===========-->
    <section class="login_section py-5" id="Login">
        <div class="container-fluid">
            <div class="row align-items-center py-5">
                <div class="col-md-6 col-12 mx-auto">
                    <div class="login_form border shadow rounded p-5" style="background-color: #00ad5f;">

                      {% include "messages/messages.html" %}

                        <div class="login_images text-center">
                            <img src="{% static '/images/img_avatar2.png' %} " alt="Avatar" class="avatar rounded-circle">
                        </div>
                        <form method="post">
                          {% csrf_token %}
                          <div class="mb-3">
                            <label for="Username" class="form-label text-white">Username</label>
                            <input type="text" class="form-control form-control-sm" id="Username" name="username">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label text-white">Password</label>
                            <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" name="password" placeholder="New Password" autocomplete="current-password" autofocus="" required>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember_me">
                            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                          </div>
                          <button type="submit" class="btn btn-light btn-sm w-100 mt-3">Login</button>

                          <div class="d-flex flex-column justify-content-center mt-2">
                            <span class="psw">You have not create an Account! <a href="{% url "register" %}" class="text-white">Sign-up</a></span>
                            <span class="psw">Forgot your password <a href="#" class="text-white">Reset password?</a></span>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=========Login page===========-->
{% endblock content %}
    
    