{% extends "../basefile/base.html" %}

{% block title %}
    Easy Way Process | profile
{% endblock title %}

{% block content %}
    <div class="container-fluid !direction !spacing py-5">
        <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
            <div class="col-md-6">
                {% include "../messages/messages.html" %}
                <h2>Profile</h2>
                <h1>{{ user.username }}'s Profile</h1>
    
                {% if profile.profile_picture %}
                    <img src="{{ profile.profile_picture.url }}" alt="{{ user.username }}'s profile picture">
                {% endif %}
                <p><strong>full name:</strong> {{user.first_name}} {{user.last_name}}</p>

                
                <p><strong>Bio:</strong> {{ profile.bio }}</p>
                <p><strong>Phone Number:</strong> {{ profile.phone_number }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Date of Birth:</strong> {{ profile.date_of_birth|date:"F j, Y" }}</p>
                <p><strong>Account Created At:</strong> {{ profile.created_at|date:"F j, Y, g:i a" }}</p>
                
                {% comment %} <a href="{% url 'some_edit_profile_url' user.username %}">Edit Profile</a> {% endcomment %}


                <div class="py-5 d-flex flex-column" style="gap:10px">
                    <a href="#" class="btn btn-primary">Update</a>
                    <a href="{% url "logout" %}" class="btn btn-primary">Logout</a>
                    <a href="{% url "password_change" %}" class="btn btn-primary">Change Password</a>
                    <a href="{% url "password_reset" %}" class="btn btn-primary">Reset Password</a>
                    <a href="{% url "home" %}" class="btn btn-primary">Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    
    